[submodule "pathogen"]
	path = pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/delmitmate"]
	path = bundle/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/desert"]
	path = bundle/desert
	url = git://github.com/vim-scripts/desert.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/targlist"]
	path = bundle/targlist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/jsbeautify"]
	path = bundle/jsbeautify
	url = git://github.com/maksimr/vim-jsbeautify.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/closetag"]
	path = bundle/closetag
	url = git://github.com/docunext/closetag.vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule "bundle/linediff"]
	path = bundle/linediff
	url = https://github.com/vim-scripts/linediff.vim.git
